<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="uz.sherzodn.model.Dish" />
        <mapping class="uz.sherzodn.model.Role" />
        <mapping class="uz.sherzodn.model.User" />
        <mapping class="uz.sherzodn.model.Restaurant" />
        <mapping class="uz.sherzodn.model.Vote" />
    </session-factory>
</hibernate-configuration>